$accent: #ff6838;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;

$breakpoints: (
  "phone": 376px,
	"phone-2": 560px,
	"tablet": 768px,
	"tablet-2": 992px,
	"desktop": 1230px,
);

$burgerWidth: 30px;
$burgerHeight: 20px;
$burgerLineHeight: 2px;
$burgerColor: #363853;

%rubik-300 {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
}
%rubik-400i {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}
%rubik-400 {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}
%rubik-500 {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}
