$orange-900: #ff6838;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;


%rubik-300 {
  font-family: 'Rubik-Light';
  font-weight: 300;
}
%rubik-400i {
  font-family: 'Rubik-Italic';
  font-weight: 400;
}
%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}
%rubik-700 {
  font-family: 'Rubik-bold';
  font-weight: 700;
}


%opensans-400 {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}
%opensans-600 {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
}
%opensans-700 {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}

