<section class="app">
  <div class="container">
    <div class="app__wrapp">
      <div class="app__content">
        <h2 class="app__title title">Скачайте мобильное приложение</h2>
        <p>
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <ul class="app__list">
          <li class="app__item">
            <a class="app__link" href="#">
              <img class="app__img" src="images/app-ios.svg" width="120" height="40"
                   alt="ссылка на скачивание приложения на IOS">
            </a>
          </li>
          <li class="app__item">
            <a class="app__link" href="#">
              <img class="app__img" src="images/app-android.svg" width="135" height="40"
                   alt="ссылка на скачивание приложения на Android">
            </a>
          </li>
        </ul>
      </div>
      <div class="app__bg-wrapp" style="background-image: url(images/app.jpg)" width="570" height="380"></div>
    </div>
  </div>
</section>