<section class="features section">
  <div class="container">
    <div class="features__wrapp">
      <div class="features__img-bg" style="background-image: url('images/food-delivery.png')"></div>
      <div class="features__content">
        <h3 class="features__title title">
          <span>Оставайтесь дома,</span>
          а мы позаботимся о еде
        </h3>
        <p class="features__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите
          скиидку!
        </p>
        <ul class="features__list">
          <li class="features__item features__item--del">Быстрая доставка за 15 минут</li>
          <li class="features__item features__item--fast">Вежливые курьеры</li>
          <li class="features__item features__item--shops">Более 500 заведений</li>
        </ul>
        <a class="features__link btn" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>