<header class="header">
  <div class="container">
    <div class="header__wrapp">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип ИМ Simple-food">
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link animation" href="/#">Главная</a>
          </li>
          <li class="nav__item">
            <a class="nav__link animation" href="catalog.html">Блюда</a>
          </li>
          <li class="nav__item">
            <a class="nav__link animation" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="userbar">
        <li class="userbar__item">
          <button class="userbar__btn" type="button">
            <svg class="userbar__svg">
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </li>
        <li class="userbar__item">
          <button class="userbar__btn" type="button">
            <svg class="userbar__svg">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="userbar__num">3</span>
          </button>
        </li>
      </ul>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Открыть меню</span>
      </button>
      <div class="nav-mobile">
        <div class="nav-mobile__wrapp-logo">
          <a class="logo nav-mobile__logo" href="#">
            <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип ИМ Simple-food">
          </a>
          <span class="nav-mobile__close"></span>
        </div >
        <nav class="nav nav-mobile__nav">
          <ul class="nav__list nav-mobile__list">
            <li class="nav__item nav-mobile__item">
              <a class="nav__link animation" href="#">Главная</a>
            </li>
            <li class="nav__item nav-mobile__item">
              <a class="nav__link animation" href="#">Блюда</a>
            </li>
            <li class="nav__item nav-mobile__item">
              <a class="nav__link animation" href="#">Контакты</a>
            </li>
          </ul>
        </nav>
        <address class="address nav-mobile__address">
          <a class="address__link address__link--loc" href="#">ул. Т.Г.Шевченко, 1</a>
          <a class="address__link address__link--tel" href="tel:+380501112233">380501112233</a>
          <a class="address__link address__link--mess" href="mailto:support@sfood.com">support@sfood.com</a>
        </address>
        <ul class="social nav-mobile__social">
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/"
               style="-webkit-mask-image: url('images/sprite.svg#ic-facebook')"></a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://twitter.com/"
               style="-webkit-mask-image: url('images/sprite.svg#ic-twitter')"></a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/"
               style="-webkit-mask-image: url('images/sprite.svg#ic-instagram')"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>