<section class="popular section">
  <div class="container">
    <h2 class="popular__title title">Популярные категории</h2>
    <ul class="popular__filter">
      <li class="popular__item-btn">
        <button class="popular__btn" type="button" data-filter="all">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="popular__item-btn">
        <button class="popular__btn" type="button" data-filter=".pizza">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="popular__item-btn">
        <button class="popular__btn" type="button" data-filter=".sandwiches">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="popular__item-btn">
        <button class="popular__btn" type="button" data-filter=".asian-food">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="popular__item-btn">
        <button class="popular__btn" type="button" data-filter=".set-menu">
          <svg class="popular__icon">
            <use xlink:href="images/sprite.svg#dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>
    <ul class="popular__content">
      <li class="popular__item mix burgers">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/cheeseburger-lettuce.png" width="140" height="140"
               alt="бургер с курицей">
          <h3 class="product-card__subtitle">Чизбургер с листьями салата</h3>
          <span class="product-card__price">160 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix burgers">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/beefburger.png" width="140" height="140"
               alt="бургер с говядиной">
          <h3 class="product-card__subtitle">Бифбургер</h3>
          <span class="product-card__price">190 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix pizza">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/royal-cheeseburger.png" width="140" height="140"
               alt="Королевский бургер">
          <h3 class="product-card__subtitle">Королевский чизбургер</h3>
          <span class="product-card__price">260 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix pizza">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/black-hamburger.png" width="140" height="140"
               alt="черный бургер">
          <h3 class="product-card__subtitle">Черный гамбургер</h3>
          <span class="product-card__price">199 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix sandwiches">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/burger.png" width="140" height="140"
               alt="бургер с листьями">
          <h3 class="product-card__subtitle">Чикен бургер</h3>
          <span class="product-card__price">180 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix sandwiches">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/cheeseburger-lettuce.png" width="140" height="140"
               alt="бургер с курицей">
          <h3 class="product-card__subtitle">Чизбургер с листьями салата</h3>
          <span class="product-card__price">160 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix asian-food">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/beefburger.png" width="140" height="140"
               alt=" бургер с говядиной">
          <h3 class="product-card__subtitle">Бифбургер</h3>
          <span class="product-card__price">190 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix asian-food">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/royal-cheeseburger.png" width="140" height="140"
               alt="Королевский бургер">
          <h3 class="product-card__subtitle">Королевский чизбургер</h3>
          <span class="product-card__price">260 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix set-menu">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/black-hamburger.png" width="140" height="140"
               alt="черный бургер">
          <h3 class="product-card__subtitle">Черный гамбургер</h3>
          <span class="product-card__price">199 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
      <li class="popular__item mix set-menu">
        <article class="product-card">
          <img class="product-card__img" src="images/food-cart/burger.png" width="140" height="140"
               alt="бургер с листьями">
          <h3 class="product-card__subtitle">Чикен бургер</h3>
          <span class="product-card__price">180 грн.</span>
          <button class="product-card__order-btn btn">В корзину</button>
        </article>
      </li>
    </ul>
    <a class="popular__more-link animation" href="#">Показать еще</a>
  </div>
</section>