<section class="restorants section">
  <div class="container">
    <h2 class="restorants__title title">Лучшие рестораны</h2>
    <ul class="restorants__list">
      <li class="restorants__item">
        <article class="rest-card">
          <img class="rest-card__img" src="images/food-cart/blaze-pizza.jpg" width="370" height="300"
               alt="Фото пицци Блейз">
          <div class="rest-card__wrapp">
            <h3 class="rest-card__subtitle">Blaze Pizza</h3>
            <div class="rest-card__inner-wrapp">
              <time class="rest-card__time" datatime="11:00">11:00 - 22:00</time>
              <a class="rest-card__link" href="#"></a>
            </div>
          </div>
        </article>
      </li>
      <li class="restorants__item">
        <article class="rest-card">
          <img class="rest-card__img" src="images/food-cart/pizza-runcho.jpg" width="370" height="300"
               alt="Фото пицци Ранчо">
          <div class="rest-card__wrapp">
            <h3 class="rest-card__subtitle">Pizza Runcho</h3>
            <div class="rest-card__inner-wrapp">
              <time class="rest-card__time" datatime="12:00">12:00 - 21:00</time>
              <a class="rest-card__link" href="#"></a>
            </div>
          </div>
        </article>
      </li>
      <li class="restorants__item">
        <article class="rest-card">
          <img class="rest-card__img" src="images/food-cart/pizza-hut.jpg" width="370" height="300"
               alt="Фото пицци Хат">
          <div class="rest-card__wrapp">
            <h3 class="rest-card__subtitle">Pizza Hut</h3>
            <div class="rest-card__inner-wrapp">
              <time class="rest-card__time" datatime="11:00">11:00 - 22:00</time>
              <a class="rest-card__link" href="#"></a>
            </div>
          </div>
        </article>
      </li>
      <li class="restorants__item">
        <article class="rest-card">
          <img class="rest-card__img" src="images/food-cart/mcdonalds.jpg" width="370" height="300"
               alt="Фото бургера из макдональдса">
          <div class="rest-card__wrapp">
            <h3 class="rest-card__subtitle">McDonald`s</h3>
            <div class="rest-card__inner-wrapp">
              <time class="rest-card__time" datatime="06:00">06:00 - 23:00</time>
              <a class="rest-card__link" href="#"></a>
            </div>
          </div>
        </article>
      </li>
      <li class="restorants__item">
        <article class="rest-card">
          <img class="rest-card__img" src="images/food-cart/kfc.jpg" width="370" height="300" alt="Фото сета из КФС ">
          <div class="rest-card__wrapp">
            <h3 class="rest-card__subtitle">KFC</h3>
            <div class="rest-card__inner-wrapp">
              <time class="rest-card__time" datatime="06:00">06:00 - 23:30</time>
              <a class="rest-card__link" href="#"></a>
            </div>
          </div>
        </article>
      </li>
      <li class="restorants__item">
        <article class="rest-card">
          <img class="rest-card__img" src="images/food-cart/star-burgers.jpg" width="370" height="300"
               alt="Фото топ бургеров">
          <div class="rest-card__wrapp">
            <h3 class="rest-card__subtitle">Star Burgers</h3>
            <div class="rest-card__inner-wrapp">
              <time class="rest-card__time" datatime="09:00">09:00 - 21:00</time>
              <a class="rest-card__link" href="#"></a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>